<form
  #formEnviarPrompt="ngForm"
  (ngSubmit)="sendPrompt()"
  class="container mt-4"
>
  <div class="form-group">
    <label for="textareaPrompt" class="mb-4">
      Por favor, describe el proceso que deseas representar en un diagrama de
      escalera (Ladder Diagram) utilizando lenguaje claro y detallado. Esto nos
      ayudará a entender mejor tu requerimiento y a representarlo de manera
      efectiva.</label
    >
    <textarea
      id="textareaPrompt"
      class="form-control"
      [(ngModel)]="textArea"
      required
      placeholder="Se genera código Ladder relacionado..."
      name="textArea"
    ></textarea>
  </div>
  <button
    type="submit"
    class="btn btn-primary mt-3"
    [disabled]="!formEnviarPrompt.form.valid"
  >
    Generar
  </button>
</form>

<div class="container mt-4">
  <h5>Código Ladder generado:</h5>
  <div class="alert alert-secondary">
    {{ respuesta.respuestaGTP }}
  </div>
</div>
